[2018-07-03 12:50] billimek opened #1 "promote unifi chart to official charts repo"

[2018-07-03 12:51] billimek commented on #1
[PR #6426](https://github.com/kubernetes/charts/pull/6426) submitted

[2018-07-03 12:51] billimek opened #2 "promote home-assistant chart to official charts repo"
[PR 6435](https://github.com/kubernetes/charts/pull/6435) submitted

[2018-09-11 14:14] billimek commented on #2
[PR](https://github.com/kubernetes/charts/pull/6435) was merged.  Closing

[2018-09-11 14:14] #2 closed

[2018-09-19 06:27] jbrisko opened #3 "Inconsistent Unifi Templates"
Hello

I am testing out your helm chart with a new deployment, and for my deployment I need to use the annotations in the services however they are only included in the template files for the GUI and Ingress. There is a configuration for them, and they are included in the values.yaml but they never get rendered into the services from the templates. Please let me know if you need any additional inf

[2018-09-19 12:26] billimek commented on #3
Hi @jbrisko thanks for opening this.  I see what you describe.  I think the lack of deployment-level annotations is because the default `helm create` base template eschews deployment-level annotations.

However, looking at other charts like grafana, we see that indeed there [is a deployment annotation](https://github.com/helm/charts/blob/master/stable/grafana/templates/deployment.yaml#L10-L13).

I

[2018-09-19 13:56] jbrisko commented on #3
Hey Jeff

Thanks for the reply. I think the deployment annotations would be worthwhile however I was referencing the different services. There are no annotations on the controller-svc.yaml or the stun-svc.yaml or the discovery-svc.yaml.

For my specific use case it would also be nice on the services to include the service.spec.externalTrafficPolicy as we are using load balancers to expose our serv

[2018-09-20 12:51] #3 closed

[2018-09-20 12:52] billimek commented on #3
@jbrisko nice catch, thank you!  This should be fixed now.

[2018-09-20 21:51] jbrisko commented on #3
Thank you! It seems to be working great now. Thanks for your help!

[2018-12-20 02:58] doodlemania2 opened #9 "Update Nextcloud to 15?"
I'm very new to Helm and charts but would love to deploy a Nextcloud 15. I see you are at 13. Would you be willing to update to 15 (or show me how?) :)

[2018-12-20 03:07] #1 closed

[2019-02-08 11:45] billimek opened #10 "convert home-assistant to a StatefulSet"
This is necessary in order to allow for clean upgrades of the chart when it is leveraging a storageclass that only allows one access.  See [this article](https://akomljen.com/kubernetes-persistent-volumes-with-deployment-and-statefulset/) explaining the reasoning and necessity.

See https://github.com/helm/charts/pull/9677 as an example for a similar chart.

[2019-03-10 12:02] billimek commented on #9
Hi @doodlemania2, I adopted the ['official' Nextcloud chart](https://github.com/helm/charts/tree/master/stable/nextcloud) over on the helm/charts repo which appears to be v15!

[2019-03-10 12:02] #9 closed

[2019-04-01 00:45] billimek commented on #10
No longer needed

[2019-04-01 00:45] #10 closed

[2019-05-26 13:26] billimek opened #19 "Fix links and image links"
Now that this is on [helm hub](https://hub.helm.sh/charts/billimek), some of the links and images are relative-path and not working properly.

Update the markdown files to properly resolve URLs.

[2019-05-26 15:53] billimek opened #20 "Fix github actions issues"
The github actions results in two 'push' events when a pull request is merged which results in one of the two duplicate events failing.  There shouldn't be two push events at the same time when a pull request is merged.

[2019-05-27 05:37] billimek commented on #19
With [this commit](https://github.com/billimek/billimek-charts/commit/6fb5bc988cf30248fcd5ddec9f240daf342a3bd6) the last of the chart remediation should be complete.

[2019-05-27 05:37] #19 closed

[2019-05-27 19:37] billimek commented on #20
As of [this commit](https://github.com/billimek/billimek-charts/blob/b0e4a8fe85a39cc90eb61037d35192edee73dd42/.github/main.workflow), `main.workflow` and as of [this commit](https://github.com/billimek/gh-actions/tree/b24e95cb1cab91941ad8d6ef1d40614dbba49ad6/helm-gh-pages) for `entrypoint.sh`, the solution is working as expected:

* Pull requests are handled in a dedicated pull-request workflow an

[2019-05-27 19:40] billimek commented on #20
There is an outstanding bug with the interaction between github actions, their use of the `GITHUB_TOKEN` special automatic token and inability to automatically publish to a github pages site.  See [this issue](https://github.com/maxheld83/ghpages/issues/1) and [this PR](https://github.com/maxheld83/ghpages/pull/18) for more context & background.  It stands to reason that a fix will make it's way i

[2019-05-28 02:10] billimek commented on #20
Additional observations:

* It seems to be necessary to make judicious use of 'filters' for push events and pull-reqeust events so that they are not running when they are not intended to be run.  For example, without proper filters, the push event actions will run for new branch creations, updates to existing branches, branch deletions, etc.  Similar situation for pull requests
* It is not a good

[2019-05-28 02:19] billimek commented on #20
This all works now, so closing.

[2019-05-28 02:19] #20 closed

[2019-06-01 14:11] billimek opened #40 "create rtorrent chart"
Create a standalone chart for just [`rtorrent`](https://github.com/rakshasa/rtorrent).  See [StayPirate/alpine-rtorrent](https://github.com/StayPirate/alpine-rtorrent) & [looselyrigorous/docker-rtorrent](https://github.com/looselyrigorous/docker-rtorrent) repos for docker examples to base this on.

[2019-06-01 14:14] billimek opened #41 "Create standalone flood chart"
Create a new chart that is only the [flood UI](https://github.com/Flood-UI/flood) component.  See [the 'official' Dockerfile](https://github.com/Flood-UI/flood/blob/master/Dockerfile) or [this repo](https://github.com/Wonderfall/docker-rtorrent-flood) for ideas.

[2019-06-14 10:01] dniel opened #43 "Endless loop of provisioning when deploying Unifi Controller with helm chart."
Hi @billimek just a couple of question,

1) have you had trouble with endless loops of re-provisioning config with the unifi controller when deployed in kubernetes? I tried your chart but I ended up in a endless loop and re-provisioned all devices until I stopped the controller.

2) how do you handle STUN communication?  What kind of ingress controller do you use? is it necessary for the unifi con

[2019-06-14 12:01] billimek commented on #43
Hi @dniel,

#1 is an interesting problem and I can't say that I've ever experienced this.  You can initially 'see' the device from the controller and when attempting to provision them, they get stuck in a provision loop?  I wonder if there is a missing 'path' for the devices to call-back to the controller?  Do you know if the controller service (the one that defaults to listening on port 8080) is

[2019-06-14 13:48] dniel commented on #43
Yes, all seems ok I log in to my devices to set the inform address to the new controller running in kubernetes and it seems to work fine before starting to pushing config to the devices endlessly. And I see my Access Points continuously restart, and I lose connection when they are down. So there is definitely connection between the devices and the controller (and the status when running the info c

[2019-07-13 03:31] billimek commented on #40
Created [rtorrent branch](https://github.com/billimek/billimek-charts/tree/rtorrent) for this.

[2019-07-13 03:32] billimek commented on #41
Created [flood-chart branch](https://github.com/billimek/billimek-charts/tree/flood-chart) for this.  In testing, flood seemed to struggle with talking to rtorrent over xmlrpc.  It worked better with a socket connection.

So this may not move froward as a standalone chart.

[2019-07-16 17:47] dniel commented on #43
@billimek I think the trouble with re-provisioning loop is due to running the controller in Amazon EKS, which has a load balancer that is automatically scaled between zones to provide HA. Seems like the controller finds out that the ip address of changes when changing availability zone and issue a re-provisioning for each external ip-change.

In the controller logs it look like this.
` inform - in

[2019-07-18 15:06] #43 closed

[2019-07-18 17:41] billimek commented on #41
Not going to do this.

[2019-07-18 17:41] #41 closed

[2019-07-18 17:41] billimek commented on #40
Not going to do this.

[2019-07-18 17:41] #40 closed

[2019-07-18 17:42] billimek opened #47 "Update all charts to conform to the removal of extensions/v1beta1"
In Kubernetes v1.16, `extensions/v1beta1` will be removed.  The charts all need to be updated to reflect the new `apps/v1` spec instead.

[2019-07-18 17:44] billimek commented on #47
The following are affected:

[code]

- [ ] comcast
- [ ]
- [ ]
- [ ]
- [ ]
- [ ]

[2019-07-31 21:26] billimek opened #54 "Migrate to circleCI for automation"
Not happy with the github actions workflow and instead will adopt the approach outlined in these posts:

1. https://tech.paulcz.net/blog/creating-a-helm-chart-monorepo-part-2/
1. https://tech.paulcz.net/blog/creating-a-helm-chart-monorepo-part-3/

[2019-08-05 11:37] billimek commented on #54
This should be complete.  See [circleCI status page](https://circleci.com/gh/billimek/billimek-charts) and the [`.circleci`](https://github.com/billimek/billimek-charts/tree/master/.circleci) directory

[2019-08-05 11:37] #54 closed

[2019-08-05 12:13] #47 closed

[2019-08-05 12:13] billimek commented on #47
The unchecked items did not actually require remediation.

[2019-10-07 12:15] billimek opened #71 "add pod annotations to charts"
Need to add pod annotation to the following charts where they are missing:

- [x] nzbget
- [x] rtorrent-flood
- [x] comcast
- [x] modem-stats
- [x] speedtest
- [x] uptimerobot

[2019-10-07 17:40] billimek commented on #71
Finished with all of the above PRs!

[2019-10-07 17:40] #71 closed

[2019-10-21 02:14] billimek opened #83 "decide what to do with kube-plex chart"
The kube-plex chart is hosted here because there is no chart registry currently hosting the excellent [kube-plex](https://github.com/munnerz/kube-plex/tree/master/charts/kube-plex) chart.

Currently it's a submodule and not really handled that great in this repo.

Personally speaking, using flux I can just reference the chart via git URL and don't _need_ it to be packaged int a chart repo.

I need

[2019-10-21 02:15] billimek opened #84 "Create ser2sock chart"
Create a chart for [ser2sock](https://github.com/nutechsoftware/ser2sock) and behave very much like the frigate chart whereby it will only schedule to a node with a particular label indicating which node has the special USB device connected to it.

[2019-10-21 13:03] billimek opened #85 "explore github actions"
With the re-launch of github actions, it may be time to attempt to use it again instead of circleCI

[2019-10-29 01:22] #84 closed

[2019-12-09 00:22] onedr0p opened #89 "Ombi chart"
https://hub.docker.com/r/linuxserver/ombi/

Would you be open to a PR adding this to your repo?

[2019-12-09 00:23] onedr0p opened #90 "Tautulli chart"
https://hub.docker.com/r/linuxserver/tautulli

Same as for Ombi, would you be open for a PR adding this to your repo?

[2019-12-09 02:44] billimek commented on #89
Absolutely!

[2019-12-09 02:44] billimek commented on #90
Absolutely!

[2019-12-09 15:41] onedr0p commented on #90
I'll work on it. Having a central chart repo for some Homelab things is nice. Glad you are willing to host them!

[2019-12-10 14:40] #90 closed

[2019-12-10 14:41] #89 closed

[2019-12-11 01:12] onedr0p opened #96 "Jackett and NZBHydra2 chart liveness and readyness probes"
I don't have more time to work on this tonight, so I'll create this issue to remind me.

nzbhydra2 is a Java Spring application and I might need to set the timeout a lot higher as it runs database migrations on start. Currently on Raspberry Pi this takes awhile.

Jackett also seems to take longer than a minute to start up as well.

Logs are showing the Container being killed.

@billimek do you hav

[2019-12-11 01:12] onedr0p commented on #96
I should have mentioned the probe PR didn't fix the issue, I'll need to figure out the best values...

[2019-12-11 13:05] billimek opened #97 "Upgrade frigate chart to support 0.4.0 release"
Frigate release 0.4.0 is almost done and has some changes which will impact the chart:

* The config file format is completely changed
* There is now a healthcheck we can account for in the probes
* There is now the ability to handle more than just person detections.

See [the beta release](https://github.com/blakeblackshear/frigate/releases/tag/v0.4.0-beta) & associated [docker image](https://hub

[2019-12-11 13:08] billimek commented on #96
@onedr0p I suggest we make the probes configurable.  See something similar done with the home-assistant chart [here](https://github.com/helm/charts/pull/19269).

It's most likely that the `initialDelaySeconds` needs to be bumped to something longer - maybe try 120?  Perhaps also make the `timeoutSeconds` 30 instead of 10?

Some workloads will have different startup times depending on the configura

[2019-12-11 14:31] onedr0p commented on #96
The first point is spot on and actually I was looking at the HA chart last night working on this haha. I will open a PR to parameterize the probes on Tautulli, Ombi, Jackett, NZBHydra2, Radarr, qBittorrent and Sonarr. If there are other to apply we can tackle it later :)

Thanks for the feedback

[2019-12-14 15:15] #96 closed

[2019-12-14 16:00] onedr0p opened #100 "Implement startup probe configuration for slow starting containers"
Appears Jackett and NZBHydra are still a culprit of slow start up times. From researching on the k8s docs we can implement a startupProbe which might solve my issue once and for all.

I'll just implement this on Jackett and NZBHydra2 as the others seem to be pretty quick at starting.

https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-start

[2019-12-14 16:04] onedr0p commented on #100
I will continue to debug before accepting this is actually needed :/

[2019-12-14 16:10] onedr0p commented on #100
Apply probe configuration as such has allowed these services to come online and not crash:

[code]

I will close this issue.

[2019-12-17 03:53] billimek opened #101 "create chart for teslamate"
* See the [teslamate](https://github.com/adriankumpf/teslamate) repo
* container image for teslamate: [teslamate/teslamate](https://hub.docker.com/r/teslamate/teslamate) (multi-arch image)
* use the postgres subchart. See [concourse](https://github.com/concourse/concourse-chart) as an example implementation

[2019-12-17 03:54] billimek commented on #101
Example `docker-compose.yml` for this.  Wouldn't need the mqtt or grafana thing as those should (IMO) be an external implementation.

[code]

[2019-12-17 03:59] billimek commented on #100
Did you ever explore the `startupProbe` in more detail?  It looks like the ideal solve for slow-starting applications.

It looks like one of the challenges with having really long `initialDelaySeconds` for liveness and readiness probes is that the service can be artificially unavailable for a long time.

[2019-12-17 04:40] onedr0p commented on #100
I didn't explore it further as I got it working with bumping the liveness and readiness to those insane values.

Reviewing the Kubernetes docs, I'm certain that if we were to test out the startupProbe it would also solve the problem as well. Do you think that is a better solution? If so I can get a PR to implement the startupProbe config.

[2019-12-20 21:34] onedr0p opened #103 "Create qbittorrent-prune Chart"
https://gitlab.com/onedr0p/qbittorrent-prune

Opening this issue for me to work on.

Why not automate all the things? :)

[2019-12-20 21:36] onedr0p opened #104 "Create sonarr-episode-prune Chart"
https://gitlab.com/onedr0p/sonarr-episode-prune

Opening this issue for me to work on.

Why not automate all the things? :)

[2019-12-21 00:20] onedr0p opened #105 "Help: Issue with cloudflare-dyndns chart"
Sorry I am still a bit of a newbie working with Kubernetes and Charts. I am having an issue deploying this chart.

[code]

[code]

The chart has defined the env variables like so:

[code]

Do you think I should update the Chart to not use the `valueFrom.secretKeyRef`? It seems as though they can all just be regular values (see below) like since the `valueFileSecrets` will just drop them in.

[code

[2019-12-22 05:14] #100 closed

[2019-12-22 05:19] #101 closed

[2019-12-22 16:07] billimek opened #108 "create chart for zwave2mqtt"
* zwave2mqtt github site: https://github.com/OpenZWave/Zwave2Mqtt
* docker repo: https://github.com/robertsLando/Zwave2Mqtt-docker
* docker hub page: https://hub.docker.com/r/robertslando/zwave2mqtt (the images _are_ multi-arch)

example docker way of running this:

[code]

[2019-12-22 19:12] billimek commented on #105
In addition to the `cloudflare-dyndns-helm-values.txt` file, do you have a secret created named the same (`cloudflare-dyndns-helm-values`) in the same namespace?  You will need a secret with the `data` json containing a `values.yaml` key with a base64-encoded set of values data to be merged in.

See [this](https://docs.fluxcd.io/projects/helm-operator/en/latest/references/helmrelease-custom-resour

[2019-12-24 15:52] onedr0p commented on #105
I do have secret there in the same namespace. I am just a little confused on how to mix secrets and the non-secret envVars.

Shouldn't the `name` property below be `cloudflare-dyndns-helm-values`? Or is that is what is interpolated?

[code]

[2020-01-05 19:22] MarcoStuurman opened #109 "[teslamate-chart] Error 426 upgrade required on kubernetes"
Hi,

I'm trying to install the teslamate chart but I can't get the websockets to work. Is there any extra steps needed to make this work?

WebSocket connection to 'ws://tesla.xx.xxx/live/websocket?baseUrl=http%3A%2F%2Ftesla.xx.xxx&referrer=&vsn=2.0.0' failed: Error during WebSocket handshake: Unexpected response code: 426

I'm using the nginx ingress controller with no special changes and forwardi

[2020-01-06 00:58] billimek commented on #109
It's strange you're having this issue.  Are you deploying any other workloads that also use ingress with websockets?

My teslamate ingress configuration is really tame: source files are [here](https://github.com/billimek/k8s-gitops/blob/master/default/teslamate/teslamate.yaml) and [here](https://github.com/billimek/k8s-gitops/blob/master/default/teslamate/teslamate-helm-values.txt)

Here's a sanit

[2020-01-06 01:03] billimek commented on #109
Here's a screenshot of the devtools console interaction with my teslamate deployment in case that helps any:

![image](https://user-images.githubusercontent.com/6393612/71789049-3cfe9900-2ff6-11ea-8c67-4c7a8b1b07f2.png)

[2020-01-06 19:33] MarcoStuurman commented on #109
I've had some things running. Mostly for testing purposes, so I've removed a lot. I noticed I had haproxy in front of nginx-ingress running, this caused the problem. I'm sorry to have bothered you. Thank you for this chart, it works great!

[2020-01-06 19:33] #109 closed

[2020-01-09 14:52] billimek opened #110 "migrate helm/charts back to this repo?"
Given the [deprecation of the helm/charts stable repo](https://github.com/helm/charts#deprecation-timeline), it stands to reason that a new home should be found for some of the charts.

Charts I'm an owner (or co-owner) of right now in the `helm/charts` repo:

* `unifi`
* `home-assistant`
* `node-red`
* `minecraft`
* `nextcloud`

`unifi`, `home-assistant`, and `node-red` originated in this repo an

[2020-01-10 15:30] billimek commented on #85
Working on this now.  Looking at:

* https://github.com/marketplace/actions/helm-chart-releaser
* https://github.com/marketplace/actions/helm-chart-testing
* https://github.com/marketplace/actions/kind-cluster
* https://github.com/helm/charts-repo-actions-demo

[2020-01-10 19:12] billimek commented on #85
Struggling to make the default chart lint & release actions work with all charts being housed in the repo root.

Am going to try giving in and moving all charts to a `charts` subdirectory.

[2020-01-11 13:20] billimek commented on #85
This is done, everything appears to work properly and the repo is fully leveraging github actions.

[2020-01-11 13:20] #85 closed

[2020-01-16 04:32] #97 closed

[2020-01-17 11:37] cmacrae commented on #83
Hey @billimek :wave: I'm also of the opinion it'd be nice of this chart was available on a public Helm repository (as being discussed in some of the other issues). But I was wondering if you would mind sharing your Flux manifests you're using to deploy directly from the repo?

I'm using Flux too and had been wondering how to approach this whilst the chart still just lives in a git

[2020-01-17 12:49] billimek commented on #83
Hi @cmacrae, sure thing!  The flux HelmRelease I use for plex is [here](https://github.com/billimek/k8s-gitops/blob/master/default/plex/plex.yaml) as as well a separate set of plex chart values that get handled seperatley via a vault secrets operator [here](https://github.com/billimek/k8s-gitops/blob/master/default/plex/plex-helm-values.txt).

[2020-01-17 13:01] cmacrae commented on #83
Wahoo! Thanks very much @billimek :pray: I'll take this for a spin this weekend :tada:

[2020-01-17 20:30] billimek commented on #83
https://github.com/munnerz/kube-plex/pull/78 submitted to finally get kube-plex as a real-deal helm chart in the helm hub

[2020-01-18 04:18] onedr0p commented on #110
The offical repo for helm/charts is going away? I wonder why they are doing this, there's no explanation as to why other than "because helm 3".

I can guess that maintaining such a large repo is a heavy lift for chart OWNERS and repository maintainers.

[2020-01-19 02:37] #108 closed

[2020-02-13 23:39] onedr0p commented on #105
Closing this issue, I'll be able to submit something when I test and fix locally.

[2020-02-13 23:39] #105 closed

[2020-02-19 14:01] onedr0p opened #151 "Implement revisionHistoryLimit in deployments"
Currently it doesn't appear there is a history limit on the deployments (default is 10) so we're seeing old replicasets starting to accumulate

[code]

According to https://www.weave.works/blog/how-many-kubernetes-replicasets-are-in-your-cluster- we can limit this...

I suggest 3 is good enough,

[code]

We likely don't need to increase chart version or make this option configurable.

[2020-02-23 13:32] #151 closed

[2020-02-23 14:07] billimek opened #153 "deleting charts issue"
When hard-deleting a chart, the following considerations must be made:

The [chart-releaser-action](https://github.com/helm/chart-releaser-action) doesn't currently support or handle a chart deletion.  The reason for this is that it looks for all 'changed' charts since the last successful release (based on tags in the repo).  When a chart is removed, the releaser sees that it was 'changed' and tri

[2020-03-08 16:47] billimek opened #160 "[blocky] - implement prometheus service monitor for auto configuration"
See https://github.com/helm/charts/blob/master/stable/metallb/templates/servicemonitor.yaml and associated files as an example implementation

[2020-03-08 16:48] billimek opened #161 "[blocky] - implement proper healthchecks/probes"
Probes aren't enabled yet.  The blocky Dockerfile has a [healthcheck](https://github.com/0xERR0R/blocky/blob/master/Dockerfile#L39) referenced as: `dig @127.0.0.1 -p 53 healthcheck.blocky +tcp || exit 1`.

But based on bugs in containerd, I'd like to avoid exec-based healthchecks if possible.

[2020-03-09 00:10] #160 closed

[2020-03-09 00:10] #161 closed

[2020-03-10 21:41] St0rmingBr4in opened #168 "[question] Should the pvc created in helm charts not be deleted upon deletion"
When deleting a chart maybe the created pvc must not be deleted.
That way the data would remain intact even if the chart is deleted.
It could be possible to use the `"helm.sh/resource-policy": keep` annotation to achieve this.

What do you think, should we use this annotation ?

[2020-03-11 18:12] billimek commented on #168
If this were leveraged on the persistent volume objects, that would indeed prevent helm from removing them at uninstall time.

The side-effect would be that it could "lead to problems if using helm install --replace on a release that has already been uninstalled, but has kept resources." (from the [docs](https://helm.sh/docs/howto/charts_tips_and_tricks/#tell-helm-not-to-uninstall-a-resource)).

I

[2020-03-11 18:35] St0rmingBr4in commented on #168
I would argue that fighting a little bit with helm is better than having your data be deleted by mistake.
Maybe having something like this in values.yaml could be a good idea:
[code]
The default value could be `true` if we feel avoiding losing data is more important than not having to clean the pvc by hand.
I will start working on the PR :)

[2020-03-11 20:27] carpenike opened #171 "InterDir Nzbget PVC"
Looking to move my interdir off of the NFS share and onto a block device out of ceph. Should allow for a much faster processing time of small files with only the completed files being copied over to the NFS share that sonarr/radarr picks up.

Do you think it makes most sense to add this as a separate stanza in the nzbget chart or trying to use the `extravolumemounts:[]` block?

[2020-03-11 20:41] billimek commented on #171
If `interdir` it were broken-out into it's own thing, it may be tricky if someone want's to combine say `downloads` and `interdir` with the same backing store.

I wonder if `extravolumemounts` is a good solve for this and generally speaking the rest of the volumes for the chart overall, instead of having separate distinct 'volumes' for `config`, `downloads`, `interdir`, etc?

[2020-03-11 21:17] carpenike commented on #171
Yup i generally like that approach. I need to dig in and see how complicated it is to do a net new PVC rather than an existing claim when using extravolumemounts.

[2020-03-12 19:23] onedr0p opened #177 "Ombi 2.1.0 didn't get published"
Still shows latest as 2.0.3 here https://hub.helm.sh/charts/billimek/ombi

[2020-03-12 19:25] onedr0p opened #178 "Jackett 2.2.0 didn't get published"
It still shows 2.1.1 here https://hub.helm.sh/charts/billimek/jackett

[2020-03-12 19:28] onedr0p opened #179 "qBittorrent 3.1.0 didn't get published"
Still shows 3.0.1 here https://hub.helm.sh/charts/billimek/qbittorrent

[2020-03-12 19:32] onedr0p opened #180 "Blocky CrashLoopBackOff"
[code]

My deployment:

https://github.com/onedr0p/k3s-gitops/blob/master/deployments/default/blocky/blocky.yaml

I don't see any big differences in our deployments

[2020-03-12 19:56] billimek commented on #177
@onedr0p can you please check again?  GitHub wasn't 'publishing' from the `gh-pages` branch and gave a generic error about 'something went wrong, please try again later'.  I forced a rebuild and see the intended changes now.

[2020-03-12 19:57] billimek commented on #178
@onedr0p can you please check again?  GitHub wasn't 'publishing' from the `gh-pages` branch and gave a generic error about 'something went wrong, please try again later'.  I forced a rebuild and see the intended changes now.

[2020-03-12 19:57] billimek commented on #179
@onedr0p can you please check again?  GitHub wasn't 'publishing' from the `gh-pages` branch and gave a generic error about 'something went wrong, please try again later'.  I forced a rebuild and see the intended changes now.

[2020-03-12 20:19] onedr0p commented on #177
Helm Hub still not showing the latest

[2020-03-12 20:27] billimek commented on #177
Yeah, it appears that Helm Hub updates on some periodic basis and I've seen it take up to an hour for repo updates to reflect.  Can you wait a short while and check again?  It would be great if Helm Hub offered some way to webhook updates so we don't need to wait.

[2020-03-12 21:03] billimek commented on #177
Hmm interesting.  It looks like when tautuli was updated, the automation [_removed_](https://github.com/billimek/billimek-charts/commit/31f42fef71d4426b7aa1c4988652d49cd829e695) the ombi update as well.  This is no good.

Looking into this now.

[2020-03-12 22:03] billimek commented on #177
Ok, after forcing a new release and subsequent re-publishing, it showed-up on Helm Hub after ~60 mins.  Version 2.1.1:
![image](https://user-images.githubusercontent.com/6393612/76570470-bd74c680-648b-11ea-8b88-de75136bf4d5.png)

[2020-03-12 22:03] #177 closed

[2020-03-13 12:53] #179 closed

[2020-03-13 12:54] #178 closed

[2020-03-14 16:50] onedr0p commented on #180
Blocky seems to be running now 👍 Not sure what happened, but it isn't crashing

[2020-03-14 16:50] #180 closed

[2020-03-14 16:51] onedr0p opened #183 "Create lidarr chart"
The music fork of Sonarr / Radarr

https://github.com/lidarr/Lidarr

[2020-03-17 11:31] billimek commented on #153
We can 'deprecate' a chart by adding `deprecated: true` to the associated `Chart.yaml` file.

[2020-03-19 14:56] #168 closed

[2020-03-24 12:36] onedr0p opened #186 "Blocky RollingUpdate strategy"
@billimek what do you think about adding `RollingUpdate` for the deployments `strategy` for 0 downtime?

Maybe something like this can be added to the deployment

[code]

[2020-03-24 12:54] billimek commented on #186
@onedr0p the default update strategy for Deployments is already RollingUpdate, so adding that to the Deployment template may not be necessary.

For example, from the deployed `blocky` deployment from this chart is the following:

[code]

[2020-03-24 13:14] onedr0p commented on #186
Huh today I learned! Thanks :)

[2020-03-24 13:14] #186 closed

[2020-03-27 15:31] onedr0p opened #187 "Integrate radarr-exporter into the Radarr chart"
I currently run radarr-exporter as a standard k8s deployment (see [here](https://github.com/onedr0p/k3s-gitops/blob/master/deployments/monitoring/radarr-exporter/radarr-exporter.yaml))

We could actually implement this into the chart (possible as sidecar?) and update the values to accept whether or not to turn these on, maybe like the following:

[code]

I do maintain the following projects:
- htt

[2020-03-29 12:57] onedr0p opened #188 "Sometimes a Blocky pod experiences CrashLoopBackOff"
I have Blocky scaled to 3 replicas, once in awhile one of these Pods will become unhealthy. This is the second time within 2 weeks it happened. Workaround is scaling down Blocky to 0 and then scale it back up, but it's not a fix as this will happen again.

@billimek have you noticed anything like this?

Maybe it could be related to this issue: https://github.com/0xERR0R/blocky/issues/20

My Blocky

[2020-03-29 13:06] onedr0p commented on #188
Looks like this is an issue using `subPath` as described here:

https://github.com/kubernetes/kubernetes/issues/68211

[2020-03-29 13:29] onedr0p commented on #187
I would love to see if it is possible to mount Radarrs config.xml into the sidecar so we can grab the Radarr API Key. This would require the radarr-exporter project to be updated to support it.

[2020-03-29 17:19] #188 closed

[2020-04-02 14:06] onedr0p opened #191 "Create bazarr chart"
- https://github.com/morpheus65535/bazarr
- https://hub.docker.com/r/linuxserver/bazarr

[2020-04-02 14:15] #183 closed

[2020-04-02 16:15] #191 closed

[2020-04-04 19:37] hwestman opened #194 "[BUG] Cannot Create Localization Class"
**Setting my configuration in the zwave2mqtt UI, results in exception.**

_Kubernetes version v1.17.0_
Cluster of 3 bare metal nodes running ubuntu server 18.04. Aeotec z-stick gen 5, tested on two different nodes.

Deploying with
`helm install --namespace=default zwave2mqtt -f ./helm-configs/zwave2mqtt-values.yaml billimek/zwave2mqtt`

Deploying the helm chart with default values except I have:
-

[2020-04-05 06:48] hwestman commented on #194
I set up the resources below that seem to work.
I haven't been able to spot the problem yet though.

      apiVersion: v1
      kind: Service
      metadata:
        name: zwave2mqtt
        namespace: default
      spec:
        ports:
          - name: http
            protocol: TCP
            port: 8091
            targetPort: 8091
        selector:
          app: zwave2mqtt
        type: Clus

[2020-04-06 13:32] onedr0p opened #195 "Migrate Metallb chart"
@billimek what do you think about migrating the Metallb chart to here, since the developers have no interest in maintaining one themselves?

[2020-04-08 12:47] onedr0p opened #196 "appVersion in Chart.yaml"
@billimek how do you feel if we remove this field from the Chart.yaml? It seems like the field is useless for a bunch of applications that do not require a chart update when a image is updated.

My line of thinking is that the command `helm list --all-namespaces -a`, or the [helm-exporter](https://github.com/sstarcher/helm-exporter) is not returning the correct appVersion if we update the image. T

[2020-04-14 14:26] #187 closed

[2020-04-14 16:55] billimek commented on #83
Going to 'fork' and host the plex chart here until the [munnerz/kube-plex](https://github.com/munnerz/kube-plex) repo is once again active.

[2020-04-14 16:58] billimek commented on #195
This is a good idea.  I will work on hosting a metallb chart here given that the [official repo](https://github.com/metallb/metallb) currently has no interest in hosting a helm chart, the 'stable' helm charts repo is being deprecated, and there is no one maintaining the [stable/metallb chart](https://github.com/helm/charts/tree/master/stable/metallb) anyway.

Hopefully a better long-term solution

[2020-04-14 18:59] onedr0p commented on #83
Sounds like a good idea, we can make improvements without the long wait time.

[2020-04-15 01:27] #83 closed

[2020-04-15 02:31] billimek opened #204 "refactor speedtest chart"
Leverage prometheus and modern speedtest CLI for collecting data.  See the following for reference:

* https://github.com/jeanralphaviles/prometheus_speedtest
* https://github.com/topics/speedtest
* https://github.com/topics/speedtest?l=python
* https://pypi.org/project/prometheus-speedtest/
* https://github.com/m-kraus/prometheus-speedtest
* https://github.com/nlamirault/speedtest_exporter
* http

[2020-04-20 20:27] EasternPA opened #208 "How to install modem-stats"
Thank you for these charts. They make for a great opportunity to learn with a huge payoff at the end.

I had to jump through a few hoops to get modem-stats to install and run.

1) Install the bitnami repo (I have to think everyone has it by now)
2) helm install -n influxdb-influxdb bitnami/influxdb
3) Get the admin password by running the export ADMIN_PASSWORD command shown in the output. Copy it

[2020-04-21 13:45] onedr0p opened #209 "Create unifi-poller chart"
https://github.com/unifi-poller/unifi-poller

[2020-04-21 13:45] #104 closed

[2020-04-21 13:45] #103 closed

[2020-04-27 18:46] onedr0p opened #213 "Update README for Plex Chart"
Looks like we're missing the value keys and description for everything.

[2020-04-29 12:56] runecalico commented on #213
Yep,  That is totally on me. I noticed the original readme wasn't up to date and then ignored it (lazy) when adding my updates. I DID at least put mostly useful comments in values.yaml :)

[2020-04-30 10:18] billimek commented on #204
Fixed by #214

[2020-04-30 10:18] #204 closed

[2020-05-01 12:23] billimek opened #216 "create chart for uptimerobot prometheus-exporter"
See #204 for some context.

[2020-05-01 12:23] billimek opened #217 "create chart for modem stats prometheus-exporter"
See #204 for context

[2020-05-01 12:25] billimek commented on #213
IMO it's a pain to keep the values table updated with the actual values file, and lately I've been creating charts with just a link to the `values.yaml` file (which should be properly commented) for details on what values that can be used.

[2020-05-01 12:27] billimek commented on #208
Thanks for the info @EasternPA.  That was one of the very first charts I made and it is probably very lacking!  I think you may be the only other person using it other than myself too, given the model of the modem.

For what it's worth, I'm planning to refactor/re-create this modem stats approach using a prometheus exporter instead of influxdb (see #217).  Is this something that would interest you

[2020-05-01 12:30] billimek commented on #216
See also:

* https://github.com/ukwa/uptimerobot-prometheus-exporter
* https://github.com/masaruhoshi/uptimerobot-prometheus-exporter
* https://github.com/lekpamartin/uptimerobot_exporter
* https://github.com/rmrf-run/prometheus-uptimerobot

[2020-05-16 05:58] moises0077 opened #221 "CIFS Mount"
Can you share the syntax or sample .yaml on how to configure Plex to use a host mount that is pointing to a CIFS share with content to play in Plex? Thanks!

[2020-05-16 07:01] moises0077 commented on #221
Solved it by creating a PV then a PVC and used --set extraData.claimName=name-of-claim billimek/plex

[2020-05-19 15:14] abel408 opened #222 "Persistent Volume Claims of /downloads and /movies should be located on same volume with one pvc"
By default, radarr and sonarr are set to rename movies and create hardlinks. Hardlinks can only be created when both file locations are located on the same file system. Even though the /downloads and /movies PV could be from the same share, the container has two mount points and will not recognize that they are from the same system. Instead of creating hardlinks, radarr and sonarr will copy the fi

[2020-05-19 15:20] billimek commented on #222
Hi @abel408, correct!  We have the [`extraExistingClaimMounts`](https://github.com/billimek/billimek-charts/blob/master/charts/sonarr/values.yaml#L142-L148) configuration option to help address this (also for radarr)

An example of the implementation is [here](https://github.com/billimek/k8s-gitops/blob/master/default/sonarr/sonarr.yaml#L30-L43):

[code]

It seems like we should still 'allow' some

[2020-05-19 15:33] abel408 commented on #222
Ahhh, thank you. I do agree with allowing different mount points, however, the chart by default will create a mount point for each and radarr and sonarr, by default, will use hardlinks so I think there is a bit of a discrepancy there. I would imagine the only reason someone would want a mount point for each would be if they are organizing things manually? I just learned the hard way that radarr an

[2020-05-20 12:52] billimek commented on #222
@abel408 this is a good point, we should consider changing the default behavior.  Something different than the `extraExistingClaimMounts` would be necessary for the two charts because we won't have an existing claim to reference by default.

@onedr0p what do you think?  I think we would need to change the chart to collapse /downloads and /tv or /movies into a single PVC and allow folks to leverage

[2020-05-20 12:55] onedr0p commented on #222
@billimek do you think a single `media` volume is good instead of `downloads` and `tv` or `movies` ?

[2020-05-20 12:57] billimek commented on #222
@onedr0p yeah, exactly!  Can you think of any downsides taking that approach?

[2020-05-20 12:58] onedr0p commented on #222
@billimek maybe, my current deployments use media in existingVolumeClaims. Do you think that is a conflict?

[code]

[2020-05-20 13:03] billimek commented on #222
With the change we're discussing, yeah.  I see it as being something like this:

[code]

... which would be a 'breaking' change

[2020-05-20 13:03] onedr0p commented on #222
Sounds good! I think this would be a great change.

[2020-05-20 22:25] WojoInc commented on #222
Took a stab at this, as I actually just ran into the same issue, albeit on plain Docker. While bazarr doesn't necessarily have the same issue with linking, figured all the 'arr apps should all probably be laid out the same.
If the commits [here](https://github.com/WojoInc/billimek-charts/tree/merge_pvc) look good/cohesive, I can go ahead and do the same for sonarr, etc. and toss a PR together.

[2020-05-20 23:14] onedr0p commented on #222
@WojoInc looks great, feel free to open PRs :)

[2020-05-21 21:04] WojoInc commented on #222
Sg! Submitted PR for Bazarr. I plan on doing the same for Sonarr, Radarr, and Lidarr after work today. Any other charts that may need the same thing done?

[2020-05-23 13:25] billimek commented on #222
Should be fixed now by #224, #225, #226, & #227

[2020-05-23 13:25] #222 closed

[2020-05-23 13:26] #221 closed

[2020-05-25 18:00] windowsrefund commented on #222
As someone who is starting out with these charts, I'm not worried about backwards compatibility or breaking changes and just want to get things up and running as cleanly as possible. Is there some documentation or walk-through published anywhere that would show how to create a sane values.yaml (to be passed into the install via -f) which results in sonarr using the same volume for radarr and plex?

[2020-05-25 21:55] onedr0p commented on #222
@windowsrefund what you want is NFS storage but radarr and Sonarr don't support it, it's better to use block volumes

[2020-05-25 22:27] windowsrefund commented on #222
Hi, I'm actually using cStor from OpenEBS

[code]
I've sucessfully installed this chart as follows:
`helm -n media install sonarr billimek/sonarr -f charts/sonarr/values.yaml`

Where my values.yaml specifies the PVCs and makes use of  `skipuninstall: true`. Now that I've verified Sonar sees /config and /media, I'm thinking I did this correctly. Soon, I'll go ahead and update my values.yaml in orde

[2020-05-26 00:22] bezerker opened #229 "Changes from PR #225 break existing workflow"
Hi all,

Looks like the changes in https://github.com/billimek/billimek-charts/pull/225 break my setup.  Historically, I have even prior to kubernetes used downloads on separate storage devices than my media. The changes in the charts from #225 seemingly break this workflow.  While it is correct that data is copied until it's cleaned, this may be intentional to many users.

(Example, my downloads

[2020-05-26 02:05] mterhar opened #230 "Radarr 4.0.0 release didn't seem to work"
[code]

Looking at the gh-pages branch, the yaml still says 3.2.0 is the newest.

The helm release action seems to have happened in the actions too.

I already followed to docs to merge the download and movies mounts into one place so now I'm in limbo.  The next course of action is cloning this repo and using the charts directly.  Just wanted to see if there was some re-publishing mechanism or if

[2020-05-26 15:36] billimek commented on #230
This is really odd.  Commit https://github.com/billimek/billimek-charts/commit/e28bddada21d9e27d3ec5810d792aa38c2eb7ad2 shows that it was added, but when looking at the file on the branch, it's not there.

I'll dig into this and try to figure out what broke and why.

[2020-05-26 15:45] billimek commented on #230
Ok, the lidarr release seemed to remove it in this commit: https://github.com/billimek/billimek-charts/commit/1ec6cab63854144ca0b178ec77d4c11f5393d9ee

I suspect there is an issue with the action(s) when they are run too close together.

[2020-05-26 16:00] billimek commented on #230
Just created radarr release `4.0.1` via automation to get around the missing version.

I'm still exploring why this happened and how to prevent in the future.

[2020-05-26 16:00] #230 closed

[2020-05-26 16:06] billimek commented on #229
Hi @bezerker, is it possible for you to leverage the [`extraExistingClaimMounts`](https://github.com/billimek/billimek-charts/blob/master/charts/sonarr/values.yaml#L123-L129) setting to achieve having separate volumes for downloads and media/tv ?

When we originally [discussed](https://github.com/billimek/billimek-charts/issues/222) introducing the breaking change, it seemed like the default behav

[2020-05-26 16:36] billimek commented on #230
https://github.com/helm/chart-releaser-action/issues/27 created for this, FYI

[2020-05-26 18:46] billimek commented on #230
https://github.com/billimek/billimek-charts/pull/232 may fix this from happening in the future.

[2020-05-26 20:23] technicalhydrochicken commented on #229
Just to chime in a little, I've got the same workflow as @bezerker.  I ended up using `extraExistingClaimMounts` to successfully replicate the old behavior, it worked well.  Ended up with an extra stanza like:

[code]

Then adjusted the paths everywhere in the web-ui (all hail mass editor) and everything worked as before

[2020-05-27 01:23] bezerker commented on #229
I believe I should be able to do this. I'll test this tonight and verify.

[2020-05-27 19:02] billimek opened #233 "create chart for node-feature-discovery"
https://github.com/kubernetes-sigs/node-feature-discovery

[2020-05-28 11:44] billimek commented on #110
Some progress on this:

* **unfi**: Email sent to co-maintainer and [issue opened](https://github.com/jacobalberty/unifi-docker/issues/310) to see about hosting on the jacobalberty/unifi-docker repo.  Otherwise, we will bring it back here.
* **home-assistant**: Email sent to co-maintainer seeking opinions. I already reached out to the home-assistant folks and they have [no interest in doing anythi

[2020-05-28 11:58] billimek commented on #171
Closing, lets re-open if we need to revisit this!

[2020-05-28 11:58] #171 closed

[2020-05-28 12:02] billimek commented on #194
@hwestman I'm not sure on this.  Do you need to populate the `/usr/local/etc/openzwave/` directory first?  I see this reference in the upstream repo: https://github.com/robertsLando/Zwave2Mqtt-docker#auto-update-ozw-device-database and think that I needed to do the same thing when upgrading once.

It's not clear to me why we need to do this manual step in the first place though, and I wonder if th

[2020-05-28 12:02] billimek commented on #153
This may be fixed now upstream: https://github.com/helm/chart-releaser-action/pull/20

[2020-05-28 12:05] billimek commented on #196
It's a good question.  I know that the helm chart default template now creates the following in the sample deployment template:

`image: "{{ .Values.image.repository }}:{{ .Chart.AppVersion }}"`

This essentially ties the image tag to the `AppVersion` in `Chart.yaml` which I think would break automation like flux.  So I personally don't care for that approach.

It does seem like appVersion is extr

[2020-05-28 12:06] billimek commented on #208
Closing, lets re-open if we need to revisit this!

[2020-05-28 12:06] #208 closed

[2020-05-28 12:07] billimek commented on #213
Closing, lets re-open if we need to revisit this!

[2020-05-28 12:07] #213 closed

[2020-05-28 12:17] onedr0p commented on #196
@billimek is it required field, I remember trying to remove it and the CI complaining about it.

[2020-05-28 18:45] billimek commented on #195
It looks like bitnami picked-up hosting a metallb chart 🤔

https://github.com/bitnami/charts/tree/master/bitnami/metallb

[2020-05-28 18:47] billimek commented on #195
They are making their own container images for metallb (amd64 only) instead of using the 'official' metallb docker containers (multi-arch) - that seems sort of sketchy.

[2020-05-28 21:59] onedr0p commented on #195
They do that for a bunch of docker images, like redis. Not sure why they are doing it for metallb to be honest.

[2020-05-31 20:26] windowsrefund opened #234 "Question about the use of existingClaim"
hello,

I have setup nfs-server-provisioner and have created a pvc against some openebs-backed storage. However, dynamic volume creation (via the PVC) is not happening when I deploy the sonarr chart. I'm trying to understand why that might be the case? This is my values.yaml which I pass in via -f

[code]
Is dynamic provisioning somehow disabled because I'm not using storageClasssName? That questi

[2020-06-02 12:34] onedr0p commented on #195
I've migrated over to their chart and docker image. Will let you know if I notice anything funky.

[2020-06-02 14:22] onedr0p commented on #195
https://github.com/bitnami/bitnami-docker-metallb-speaker#why-use-bitnami-images

[2020-06-02 14:35] onedr0p commented on #195
I am getting this error with their chart:

[code]

I have reverted for now.

[2020-06-04 04:34] #234 closed

[2020-06-07 01:35] bezerker commented on #229
Finally got around to testing this. This seems to work fine. Thanks for the help guys!

[2020-06-07 01:35] #229 closed

[2020-06-07 07:32] windowsrefund opened #240 "rtorrent-flood - How does the web ui connect to rtorrent?"
When firing up the web interface, the user is presented with the "rTorrent Connection Type" dialog with TCP and Unix Socket options

What is the current expectation/assumption being made here in terms of workflow?

Thanks in advance

[2020-06-08 14:46] billimek commented on #240
Hi @windowsrefund, I believe you need to select "Unix Socket" as the connection type and use the value `/tmp/rtorrent.sock` as shown below:

![image](https://user-images.githubusercontent.com/6393612/84044118-24175c80-a975-11ea-8494-be9a8c52413d.png)

There is probably a better way to script or automate this but I haven't been able to figure it out yet.

[2020-06-09 13:21] radum opened #241 "Heimdall install issue"
`helm install heimdall billimek/heimdall` fails with `Error: failed to download "billimek/heimdall" (hint: running `helm repo update` may help)`

Looking at the gh pages and the helm hub indeed it is missing.

Not sure how it needs to be added considering the automated release cycle.

[2020-06-10 23:19] billimek commented on #110
**node-red** chart is migrated to this repo with the merge of [this PR](https://github.com/helm/charts/pull/22739)

[2020-06-10 23:36] windowsrefund commented on #240
Thank you very much.

[2020-06-10 23:36] #240 closed

[2020-06-11 01:23] #216 closed

[2020-06-13 12:18] billimek commented on #110
**home-assistant** chart is fully migrated to this repo with the merge of [this PR](https://github.com/helm/charts/pull/22745)

[2020-06-14 04:56] plainlystated opened #247 "External Domain"
I'm probably missing something obvious, but I don't see a way to specify the public-facing domain for callbacks from third parties.  I do have `ingress.hosts` set, but when I add Plex as a vendor, that third party site tries to redirect me back to `https://<local_ip>:8123/auth/plex/<etc>`.  If I swap out the `local_ip:8123` with the proper domain, I can continue the auth flow.

[2020-06-14 16:39] rwlove opened #248 "[home-assistant] Homeassistant fails to start with AppDaemon enabled"
**Describe the bug**
I'm instantiating HASS in a kubernetes cluster using the following definition. https://github.com/billimek/billimek-charts/tree/master/charts/home-assistant

Homeassistant fails to start with AppDaemon enabled.

**A clear and concise description of what the bug is.**
Version of Helm and Kubernetes:
Helm: v3.2.1
Kubernetes: v1.18.2

What happened:
➜  kubernetes git:(master) ✗ k

[2020-06-17 10:40] billimek commented on #247
@plainlystated I wonder if Plex needs to be configured to reference your custom domain?

For example, from the screenshot below I have it configured to be `https://plex.mydomain.com:443` which is the nginx ingress URL.  I think that the port is necessary even though it's https/443:

![image](https://user-images.githubusercontent.com/6393612/84888374-32e0cc00-b065-11ea-8aac-25d0d4497c22.png)

[2020-06-17 10:52] billimek commented on #248
Hi @rwlove, I didn't add this feature but believe that there are a couple of possible problems:

1. It looks like the `DASH_URL` environment variable (required by appDaemon?) isn't being set unless [ingress is enabled](https://github.com/billimek/billimek-charts/blob/master/charts/home-assistant/templates/deployment.yaml#L315-L319).
1. Similarly, the `TOKEN` environment variable is not set due to

[2020-06-20 07:35] windowsrefund opened #250 "How can rtorrent be used as a Sonarr downloader?"
Hello,

I'm running the rtorrent-flood chart. Both the bt and gui services are running in my cluster but I'm stuck trying to figure out how, using the vanilla config, I'd tell Sonarr to use rtorrent as a downloader? It may not be possible since sonarr/radarr appears to need XMLRPC to be accessible on the network rather than a Unix socket. This would mean the underlying rtorrent docker image would

[2020-06-20 14:12] rwlove commented on #248
The below changes to my values.yaml seems to allow it to work.
[code]

It generates the following appdaemon.yaml file:
[code]

Can you help me understand how the appdaemon.yaml file gets generated? For example when I grep for “errorfile” which is in the resultant appdaemon.yaml, I don’t get any hits in your repository.

I’d love to upgrade this chart to make use of appdaemon 4.0.3 (currently using

[2020-06-20 14:24] rwlove opened #251 "[home-assistant] Homeassistant fails to clone configuration files"
When the Home Assistant helm chart runs the following command it never pulls in my git configuration. The problem is that the default {{.Values.git.syncPath}} is already populated, so the clone never occurs.

Where are the default configuration files coming from? I would expect this directory to be empty on the first run. Note the configuration.yaml, secrets.yaml and other Home Assistant configura

[2020-06-21 20:12] windowsrefund commented on #250
While I got very close to having a working solution based around [deuxmax/rtorrent](https://hub.docker.com/r/deuxmax/rtorrent), I was unable to connect from Flood and decided to move on. If you are interested, I managed to write a chart for [transmission](https://github.com/windowsrefund/helm-charts) and am happy to report it is working in my environment as expected. This is my first chart and I u

[2020-06-21 20:12] #250 closed

[2020-06-22 15:27] rwlove commented on #251
This is no longer an issue for me. The git-creds that I was using was incorrect. Unfortunately, there isn't any real documentation on how to configure git-creds for this chart.

This is what worked for me after adding generating a RSA key and adding my public key to github via the webui.

ssh-keyscan github.com > /root/.ssh/known_hosts
kubectl -n homeassistant create secret generic git-creds \

[2020-06-22 15:27] #251 closed

[2020-06-27 18:23] ionut-maxim opened #254 "Persistent Volume Radarr"
Hello and sorry if this is a dumb question. I don't understand how to add an existing local directory on my kubernetes node as the media volume to the Radarr chart.
I'm pretty new with Kubernetes...

[2020-06-27 18:46] billimek opened #255 "plex chart 1.3.0 has issues"
Updating plex chart from 1.0.0 to 1.3.0 resulted in an unusable (not accessible via network) plex instance.  Will investigate via this issue.

[2020-06-27 18:47] billimek commented on #255
Rolling-back to chart 1.0.0 results in a working plex.

[2020-06-27 19:41] billimek commented on #255
Chart 1.1.0 is ok.  Suspect it's related to the [scripts](https://github.com/billimek/billimek-charts/tree/master/charts/plex/configs) added in version 1.2.0 and/or 1.3.0

[2020-06-27 19:47] billimek commented on #255
Chart 1.2.0 is ok.

[2020-06-27 19:52] billimek commented on #255
Problem is introduced with chart 1.3.0

[2020-06-27 20:15] billimek commented on #255
Upgrading to 1.3.0 seems to delete all of the container ports, and not just `http` and `https`.

[2020-06-27 20:43] billimek commented on #255
Don't know why, but it appears that [this change](https://github.com/billimek/billimek-charts/pull/212/files#diff-62fa7622e555d0535c7dfd87e352e434L47-L50) in #212 results in an upgraded helm chart with _all_ of the ports deleted.

Diff of the plex Deployment between version 1.0.2 and upgraded version 1.0.3:

[code]

[2020-06-27 20:43] billimek commented on #255
A fresh install doesn't seem to suffer from this issue.

[2020-06-27 20:45] billimek commented on #255
Suspect all the ports are deleted because the 'key' is the `containerPort` and not the port name

[2020-06-27 20:45] billimek commented on #255
Will patch the chart to key the ports off of the port name and not the container port.

[2020-06-27 20:49] billimek commented on #255
It is possible to manually resolve by editing the plex `Deployment` and manually adding the port:

[code]

[2020-06-27 20:50] billimek commented on #255
Closing for now as there isn't much that can be done (as far as I know)

[2020-06-27 20:50] #255 closed

[2020-06-30 17:33] RickCoxDev opened #258 "[plex] Give option for init container image"
I have a k3s cluster and I would like the option to choose the image and tag for the init container. That way I can choose to use an image that supports the ARM arch.

[2020-06-30 18:00] billimek commented on #258
Fixed by #259

[2020-06-30 18:00] #258 closed

[2020-07-04 19:27] onedr0p opened #260 "Plex hostNetwork option?"
I see with the HA chart we have this option, @billimek do you think we can add this to Plex chart too? It might solved the issue with local clients streaming with a clusterIP address.

[2020-07-04 20:55] billimek commented on #260
It's probably a good idea, if nothing else to have the option!

[2020-07-05 00:37] onedr0p commented on #260
I am still on the old chart, I am hesitant to migrate :P Your steps should be good to follow, I am just scared...

[code]

[2020-07-05 00:38] onedr0p opened #261 "Add xteve chart"
https://xteve.de/

tl;dr xteve is proxy for IPTV or OTA antennas, it can be used with Plex DVR.

HostNetwork is probably not need but the option to use it would be nice.

Chart can mimic my deployment here:

[code]

[2020-07-05 12:29] onedr0p commented on #195
I am going to close this because it looks like bitnami is doing it's best to support metallb.

https://github.com/bitnami/charts/tree/master/bitnami/metallb

[2020-07-05 12:29] #195 closed

[2020-07-05 12:32] onedr0p commented on #254
Please join us on discord if you have any questions:

https://discord.gg/hk58BZV

[2020-07-05 12:32] #254 closed

[2020-07-05 18:02] tabnul opened #263 "Home assistant Helm chart, Issue in combination with MetalLB"
Good evening, first of all thanks for your helm chart. It helps a lot.

I do have an issue. . I use MetalLB and the NGinx ingress on K3s.  I enable appdaemon and configurator, i set a loadbalanced ip.
The helm chart creates 1 service instead of 3.
The result is that i am unable to bind all 3 services on port 80 and have to use the ports when accessing the services.

I think this could be solved by

[2020-07-05 18:31] onedr0p commented on #263
Are you trying to scale home assistant? That is not wise...

[2020-07-05 18:40] tabnul commented on #263
I am not scaling. It is for redundancy / Failover purposes.

[2020-07-05 18:52] onedr0p commented on #263
If you don't pin HA to a node using any affinities, k8s will by default failover HA to another node if the node it's running on dies.

[2020-07-05 21:40] tabnul commented on #263
Yes, and how do you access it once it failovered, using the same dns?

[2020-07-05 22:01] onedr0p commented on #263
I don't know what to tell you, I also use Metallb and if the node with HA on it fails, it will simply failover to another node in my cluster.

[2020-07-05 22:39] alexdor commented on #248
@rwlove the appdaemon.yaml file is generated by the appdeamon image (specifically from this script https://github.com/AppDaemon/appdaemon/blob/dev/dockerStart.sh , which is the first script that is executed once the appdeamon pod starts )

I've already opened a pull request https://github.com/AppDaemon/appdaemon/pull/1002 to allow these options to be configured via env variables

[2020-07-06 04:21] tabnul commented on #263
Yes, and that functions, that is not the issue.

The issue is that this helm chart creates 1 service instead of 3. Due to the nature of how Metallb works (layer2) you are then unable to have multiple services running on port 80 (e.g. appdaemon, configurator, hass).
Instead i have them now running on their original ports. It would be better to have them  allrunning on normal HTTP(s) port and sepera

[2020-07-06 11:43] onedr0p commented on #194
CHiming in here with my solution to the problem. I had to pull in some files from the openzwave repo into the openzwave directory before it would start.

![image](https://user-images.githubusercontent.com/213795/86589687-1e08a180-bf5c-11ea-8860-d986d5abc8b1.png)

@billimek it would be nice if it was automated, maybe with an init container until upstreams fixes it (if ever)?

[2020-07-06 13:15] billimek commented on #263
The answer to this issue is to break-out appDaemon into it's own separate 'service' (with an independently-configurable service type).

[2020-07-06 13:16] billimek commented on #263
An example implementation of a dedicated 'service' can be the [sonarr exporter service](https://github.com/billimek/billimek-charts/blob/master/charts/sonarr/templates/service-exporter.yaml) in case anyone wants to take a crack at implementing a change to the home-assistant chart.

[2020-07-06 13:56] billimek commented on #263
@tabnul another thing to consider is leveraging the existing [appdaemon ingress](https://github.com/billimek/billimek-charts/blob/master/charts/home-assistant/values.yaml#L298-L309) settings to leverage your existing ingress controller to route external clients to appdaemon, instead of trying to tie all of the different services directly to port 80 on their own dedicated IP addresses.

[2020-07-06 14:10] tabnul commented on #263
Thanks @billimek , will look into that.
The current documentation of the HASS helm chart to me actually implies that you can separately configure a service (every addon has a *.service.type / *.service.LoadbalancerIP configuration )

[2020-07-06 14:21] tabnul commented on #263
I dont know exactly what you mean here. Wouldnt this bypass the MetalLB ip adress?

[2020-07-06 14:44] billimek commented on #263
@tabnul yes, it would.  You need to consider if you really want or need to have each service running in home-asssitant to be directly addressable via metalLB, or if you can access the service(s) via an ingress controller.

Personally speaking, and based on what I've seen done elsewhere, you want to leverage MetalLB to get IP addresses for the ingress controller itself and for any other non-http[s]

[2020-07-06 15:51] neutrongenious opened #265 "Add support for dns policy in Jackett"
Please allow to Pass dns policy in Jackett chart.

[2020-07-06 18:49] tabnul commented on #263
Thanks, i did not know this is an option and it seems indeed the best option.

However today I swapped over to RKE (which has nginx builtin) but i miss the nginx ingress controller that i had with K3s+nginx.
Going to look how i can enable that or create a new one.

Thanks so far :)

[2020-07-07 07:11] #263 closed

[2020-07-08 20:39] onedr0p opened #272 "Add flight-aware chart"
https://hub.docker.com/r/mikenye/piaware

[2020-07-08 23:16] onedr0p commented on #265
Feel free to open a PR, we're very accepting!

[2020-07-08 23:41] #272 closed

[2020-07-11 07:35] cscheib opened #274 "[ombi] Add support for changing baseUrl when behind reverse proxy"
Ombi doesn't work properly behind a reverse proxy with paths other than root, unless you change the base URL.

The upstream Docker image (linuxserver/docker-ombi) has support for this feature.

I will follow up with a PR with my solution to the problem.

of note: image tag `v3.0.4892-ls61, which is current release, supports this feature, the chart default image tag `3.0.5020-ls5` does NOT support

[2020-07-11 11:27] onedr0p commented on #260
This was implemented, closing.

[2020-07-11 11:27] #260 closed

[2020-07-12 19:49] #274 closed

[2020-07-23 10:28] hwestman commented on #194
Looks like @onedr0p is on to something. Maybe an init container is the way to go @billimek ?

[2020-07-23 16:24] onedr0p opened #288 "Create chart for powerdns and powerdns-admin"
There's a bunch of charts out there, however there is only one on helm hub:

https://github.com/halkeye-helm-charts/powerdns
https://github.com/halkeye-helm-charts/powerdnsadmin

It would be nice to merge these into one.

[2020-07-24 01:18] billimek commented on #110
minecraft chart has a home with the minecraft docker image: https://github.com/itzg/minecraft-server-charts

[2020-07-24 19:24] onedr0p opened #289 "Add sabnzbd chart"
Alternative to nzbget, sabnzbd plays nicer with a api path.

See this issue on nzbget https://github.com/nzbget/nzbget/issues/577#issuecomment-659399249

[2020-07-25 17:35] #289 closed

[2020-07-25 17:36] #261 closed

[2020-07-26 17:24] ishioni opened #295 "RFC: most charts should be StatefullSet, but are Deployments"
I believe that charts which deploy stateful applications, like for example Home Assistant, radarr et all should deploy statefullsets instead of deployments. I know that one can get almost the same result using a chart hardcoded replica number, and deployment strategy so as to guard from 2 copies accessing the same file (like on a new version rollout) from a PVC. I also realise that most of these a

[2020-07-26 17:39] billimek commented on #295
I'm for it, @ishioni.  Back when some of these charts were hosted in the [helm/charts](https://github.com/helm/charts) repo, some of us raised this question and there was a lot of debate.  It's worth referencing that conversation here as well:

* https://github.com/helm/charts/issues/1863
* https://github.com/helm/charts/pull/12047 (read the comments in this one)

[2020-07-26 17:46] billimek commented on #295
If we choose to pursue this, obviously it would only be necessary to alter charts that basically have a requirement to use persistent storage in order to function properly (e.g. radarr/sonarr/plex/etc).  A change from deployment to statefulset will also be a 'breaking' change and will require a major version change as well as documented upgrade path.

[2020-07-28 00:19] ishioni commented on #295
After reading both of those threads i still think we should proceed forward with going to STS when PVCs are involved. I totally agree with @unguiculus that STS is not a magic fix for the types of applications which don't scale at all, however @davidkarlsen rightly points out that it has some perks over normal DPs.

I think the best thing to do is to point out somewhere in new PRs that stateful app

[2020-07-31 13:46] carpenike opened #301 "[node-red] Define 'CredentialSecret' at launch"
Exploring the 'how' to do this now. Looks like one of the options in `settings.js` needs to be updated with a value.

At startup Node-Red sends this warning:

[code]

[2020-07-31 13:49] carpenike commented on #301
Counter point though, is this actually needed or as we backup the entire `/config` volume do we have the `CredentialSecret` stored regardless of what its value is?

It appears this is primarily for moving flows to a new system.

Thoughts?

[2020-08-01 18:20] onedr0p commented on #295
It might be worth using our k8s-at-home group to host charts, maybe we can carry ones over there as STS and slowly deprecate this repo?

https://github.com/k8s-at-home

[2020-08-01 21:44] tabnul commented on #295
Why would i want a statefullset, if i use kubernetes native replicated storage such as longhorn?
Statefulsets are in my opinion just more of a hassle in regards of high availability (not failing over automatically)

[2020-08-01 22:27] onedr0p commented on #295
Using Longhorn complicates restoring backups when using stateful sets?

[2020-08-02 05:34] tabnul commented on #295
I dont know but i just dont see the purpose of running  hass in a statefullset.  Taking into account that you cripple auto failover functionality which is imo a key benefit of running hass in kubernetes to begin with.

[2020-08-02 09:18] onedr0p commented on #295
I'm not sure I follow, statefulsets can failover too.

[2020-08-02 11:47] tabnul commented on #295
Yes it can failover but needs manual intervention on node failure.
https://github.com/kubernetes/kubernetes/issues/74689

Well, longhorn is not directly related. What it does offer is super flexible distributed storage with easy automatic failovering over nodes. That contradicts for me with the HA characteristics of a statefulset

[2020-08-02 14:37] onedr0p commented on #295
According to the following issue this can be solved with configuration options we can define in the chart.

https://github.com/kubernetes/kubernetes/issues/74947#issuecomment-509584054

[2020-08-05 13:00] onedr0p opened #309 "Broken ingress on all charts recently updated"
@w4 do you mind correcting these? The charts are now broken.

[code]

[2020-08-05 13:42] w4 commented on #309
Of course, apologies. To be honest I only tried this on Sonarr/Radarr and relied on the build system to test the rest.

Is this caused by the default value of `{}` or is something overriding it so it's empty?

[2020-08-05 14:19] onedr0p commented on #309
Not sure but you should be able to mimic the annotations code blocks

[2020-08-05 17:31] #309 closed

[2020-08-05 17:44] ryholt commented on #295
Looks like it'd be a kube-api arg: https://github.com/kubernetes/kubernetes/issues/74651

[2020-08-05 17:44] carpenike commented on #295
Looks like it'd be a kube api arg: https://github.com/kubernetes/kubernetes/issues/74651

[2020-08-07 15:54] billimek commented on #288
Partially resolved by #308 ?

[2020-08-07 16:07] carpenike commented on #288
@onedr0p -- I think it'd make sense to add the powerdns-admin to this chart and have it toggle on/off with a `.Values.powerdnsadmin.enabled` switch.

However we end up doing it though, the configuration of PowerDNS-Admin will be manual as the app itself doesn't expose the PowerDNS API configuration per this issue: https://github.com/ngoduykhanh/PowerDNS-Admin/issues/783

[2020-08-07 18:12] onedr0p commented on #288
I agree we can have an option to enable and maybe in the readme have some small instructions on how to configure it.

[2020-08-07 20:12] carpenike opened #314 "[powerdns] needs a readme"
Mostly for myself

[2020-08-09 17:36] billimek opened #317 "New home for this repo"
Now that the [helm/charts repo](https://github.com/helm/charts/) is deprecated and this repo has grown beyond just personal charts, it makes sense to leverage a much better named place to host charts related to k8s at home.  @onedr0p, @carpenike, and myself have a [k8s-at-home github org](https://github.com/k8s-at-home) that seems like a logical fit for a new home for these charts.

~Therefore, we

[2020-08-10 06:37] Juggels commented on #317
Maybe this is also a good moment to think about adding support for [CODEOWNERS](https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners)?

That way you could (for example) automatically assign additional pull request reviews to people you deem responsible for the contents of certain charts.

[2020-08-10 12:52] billimek commented on #317
@Juggels this is an excellent idea, thank you!

[2020-08-10 16:19] carpenike opened #318 "[home-assistant] Thoughts on adding dependent charts for DBs?"
Any thoughts on adding an option for dependent charts (bitnami/postgres, bitnami/mariadb) into the chart.yaml? Would default to disabled for both but would remove the need for a second deployment.

[2020-08-10 16:46] billimek commented on #318
@carpenike I was thinking about this too and think it's a good time to expand the chart to support something like this.  It's a good idea and I support it FWIW.

[2020-08-11 22:34] benmichael opened #320 "Arm support via linuxserver/plex"
As this project largely serves home projects, a fair number of the audience may be using arm based SBC clusters (especially with there now being an 8GB Raspberry Pi).

I am aware that the Plex maintained docker images only cater to x86, however the linuxserver.io images include arm images.

While it may require significant effort to cleanly migrate, my proposal would be to do so, so as to cater to

[2020-08-12 11:59] billimek commented on #233
Fixed via #319

[2020-08-12 11:59] #233 closed

[2020-08-12 14:55] billimek commented on #320
Good call-out @benmichael!  I looked at the linuxserver/plex container image configuration and believe that it may be 'compatible' with the settings already in-place (volume mount locations, env variables) from the 'official' image.

It may be something easy to switch as a helm setting choice by setting something like this:

[code]

It may be worth trying with a local install of the plex chart to

[2020-08-13 06:04] benmichael commented on #320
Excellent, I'll give that a try early next week (it would be earlier, but life). I'll let you know what I find.

[2020-08-13 07:51] Juggels commented on #301
https://nodered.org/docs/getting-started/docker#credentials-secrets-and-environment-variables
Based on this, I run my chart with an additional ENV var (filled with a secret) that gets referenced in my `settings.js` file.

However - as you state - that only has effect when there is alreay a `settings.js` file to begin with. If it gets generated at the initial start, Node-RED will keep throwing the

[2020-08-13 14:26] carpenike opened #323 "[esphome]"
Default tag (https://github.com/billimek/billimek-charts/blob/master/charts/esphome/values.yaml#L7) is invalid.

Not a huge fan of the esphome [tags](https://hub.docker.com/r/esphome/esphome/tags), looks like they're commit IDs which will make automated updates a nightmare.

[2020-08-13 17:44] billimek commented on #318
Fixed by #321

[2020-08-13 17:44] #318 closed

[2020-08-13 21:09] WojoInc opened #324 "Adding new charts"
So I am in the process of wrapping up 2 charts that I'm building as part of my migration from Docker -> k8s:

- calibre-web
- lazylibrarian

It felt silly for me to stand up my own chart repo for what amounts to 2 charts at this point, especially given how similar they are to the charts for the other Linuxserver-based apps in this repo. Wondering if its okay to submit a PR to add them here? Also c

[2020-08-14 06:15] bjw-s commented on #317
As for the `CODEOWNERS `feature, it seems that currently [it's not possible to keep a `CODEOWNERS `file per chart](https://github.community/t/nested-codeowners/2976) 😞 That would mean having a single `CODEOWNERS `file in the repo root folder. It could work, but if the repo grows in terms of charts/PR's the chance of merge conflicts will definitely increase.

[2020-08-14 08:30] bjw-s commented on #324
I've just created a PR for my LazyLibrarian chart. Maybe we could use this issue to discuss and align the two charts?

[2020-08-14 11:53] carpenike commented on #317
Perhaps management of that file should only be handled by overall program administrators and PRs shouldn't be allowed to it?

[2020-08-16 12:09] billimek commented on #324
Go ahead and add them here for now.  Still trying to figure out the least-disruptive way to handle #317.

[2020-08-16 12:13] billimek commented on #317
Concern that while github will properly redirect a transferred & renamed repo (i.e. the old URLs continue to 'work'), the custom helm repo URL (https://billimek.com/billimek-charts/) will break.  Need to test this and see if there is a clean workaround.

Alternatively, an approach could be to stand up a completely separate & new repo over in `k8s-at-home/charts` and 'deprecate' these charts and up

[2020-08-17 06:35] DirtyCajunRice commented on #295
Just to udpate you  @ishioni i have implemented a configurable deployment/statefulset choice and it is already in the bitwardenrs chart. This can be applied to any/all charts that statefulsets apply to in scope.

[2020-08-17 06:49] DirtyCajunRice commented on #317
@billimek Just to be clear, why will the above break? Instead of pointing it to a gh-pages directly just point it to a reverse-proxy somewhere and point it at the new location with a rewrite. Thoughts?

[2020-08-17 09:17] DirtyCajunRice commented on #317
Actually... now that i think about it more... the deprecation may be the only way to be "graceful" about it. If the url is pointed to the new repo
* users will effectively never have to stop using the url
* there will be no way to separate "new" versions of charts to not show up on the old url
* there would be no way to notify the user that there has even been a migration outside of hoping they ch

[2020-08-18 14:19] carpenike commented on #317
Another option — why don’t we just keep the dns name as is and work out a migration plan to a new namespace after the migration is complete? We can do a reverse proxy for the k8s-at-home.com namespace and get that working, update all guides to point to new name, then after X period of time we change the DNS name on the repo itself?

[2020-08-18 14:27] billimek commented on #317
@carpenike good idea!  The current helm repo address is https://billimek.com/billimek-charts/ which is being handled by github (the billimek.com DNS A record is pointing to github's servers (via the [apex domain configuration](https://docs.github.com/en/github/working-with-github-pages/managing-a-custom-domain-for-your-github-pages-site#configuring-an-apex-domain)) so in order to do this, the doma

[2020-08-18 14:34] carpenike commented on #317
You're referring to the future phase / step? We can prove out that remote hosting feature will work with the k8s domain prior to notifying anyone of the change.

[2020-08-18 19:42] razagill opened #333 "[plex] unable to attach or mount volumes"
I'm new to kubernetes so I'm not sure if this is expected or not. I'm trying to add the `plex` chart to my cluster and I have only a single PV and PVC. After starting the chart it's stuck at `ContainerCreating` because it cannot attach the volumes
[code]

It seems to me that it might be because `deployment.yml` file storing hardcoded values for `volumeMounts` as they don't exist in my cluster. e.g

[2020-08-18 21:16] dcplaya commented on #333
Can you post your helm chart values too?  Make sure to remove any private bits if you have any. Or if it's public, link to it.

[2020-08-19 02:58] cryptk opened #334 "home-assistant included esphome fails to start on multi-node clusters"
Hello,

I have a 4 node RPi K3S cluster and I'm running your chart for home-assistant.  When setting `esphome.enabled: true` by default it tries to mount in the home-assistant pvc so that it can access the home-assistant secrets.yaml.  This does not work if the esphome pod is scheduled on a node where the home-assistant pvc does not exist.

I was able to work around this with the following setting

[2020-08-19 14:04] benmichael commented on #320
Finally got around to testing this, and everything seems to be working with `linuxserver/plex`. I'll submit a PR

[2020-08-19 14:12] razagill commented on #333
@dcplaya Sure, here you go
[code]

[2020-08-19 23:25] dcplaya commented on #333
Hmmm, is your `media-ssd` PV/PVC set to

[code]

From your pod description, it seems like it isn't since the pod complains about not being able to mount `transcode` and `data` but doesn't seem to complain about `config`.

[2020-08-20 07:00] razagill commented on #333
@dcplaya Both are set to `ReadWriteMany`
Here is the `describe` on my PVC
[code]
Also it seems like it's mounted by the plex container from here as well.

[2020-08-24 18:09] billimek commented on #317
@DirtyCajunRice I think the steps you suggested are probably the best approach we can take.  With the way the currently helm repo URL (https://billimek.com/billimek-charts/) is configured, having it transparently work with a new home simply isn't doable.

Preserving commits is a nice touch instead of a net-new empty repo.

- [ ] create new repo in https://github.com/k8s-at-home/charts
- [ ] clone

[2020-08-28 13:19] onedr0p commented on #317
@billimek I think this is a great path forward.

Would it be a good idea to have a `stable` directory and a `incubator` directory in the change-over.
 This would allow us to test out charts before we move them to stable. For example rewrites of charts to statefulsets or other reasons...

[2020-08-28 14:42] onedr0p opened #341 "Simplify promtail config for plex"
There is a error with 1.8.0 when enabled logging w/ promtail

[code]

I think it might be better anyways to make the options less configurable...

# before

[code]

# after

[code]

This would make less clutter in the values and in our helm releases.

[2020-08-28 15:08] #341 closed

[2020-08-29 15:30] billimek commented on #110
**nextcloud** chart has a new home in the [nextcloud](https://github.com/nextcloud/) github org: https://github.com/nextcloud/helm

[2020-08-29 15:32] billimek commented on #317
Sadly, we [cannot transfer issues between organizations](https://docs.github.com/en/github/managing-your-work-on-github/transferring-an-issue-to-another-repository):

[2020-08-29 15:33] billimek commented on #317
Will handle the remaining **unifi** chart in the [new home](https://github.com/k8s-at-home/charts)

[2020-08-29 15:33] billimek commented on #110
Will handle the remaining **unifi** chart in the [new home](https://github.com/k8s-at-home/charts)

[2020-08-29 15:33] #110 closed

[2020-08-29 15:36] CuBiC3D commented on #317
What about bootstrapping the repository under your account, move the issues and then move the repository?

[2020-08-29 15:38] billimek commented on #317
Ohh clever idea!

[2020-08-29 15:43] billimek commented on #324
https://github.com/k8s-at-home/charts should be the new home for these charts.

[2020-08-29 15:43] #324 closed

[2020-08-29 17:39] billimek commented on #317
Deprecate chart checklist:

- [x] adguard-home
- [x] bazarr
- [x] bitwardenrs
- [x] blocky
- [x] calibre-web
- [x] comcast
- [x] couchpotato
- [x] deconz
- [x] digitalocean-dyndns
- [x] duplicati
- [x] esphome
- [x] frigate
- [x] grocy
- [x] heimdall
- [x] home-assistant
- [x] icantbelieveitsnotvaletudo
- [x] jackett
- [x] jellyfin
- [x] lazylibrarian
- [x] librespeed
- [x] lidarr
- [x] modem-stat

[2020-08-29 21:58] billimek commented on #317
Will archive this repo on 2020-09-30

[2020-08-30 20:09] #317 closed